/* make the body in the middle of the screen */
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 97vh;
    background: white;
    flex-direction: column;
}

#chatlogs {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.chatGPT {
 background-color: rgba(247,247,248,1);
 border: 1px rgba(0,0,0,.1) solid;
 border-width: 1px 0;
 padding: 24px 16px;
 color: rgba(52,53,65,1);
}

.user {
    padding: 24px 16px;
    color: rgba(52,53,65,1);
}

/* make the container in the center of the screen horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.ChatSend{
    width: 94vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    border: 1px rgba(0,0,0,.1) solid;
    border-radius: 5px;
    padding: 5px;
}

#prompt {
    width: 90vw;
    border: 0 transparent solid;
}

.options_messages {
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,1);
}

.messageArea {
    border: 0 solid #d9d9e3;
    border-width: 1px 0 0 0;
}

.openAiMessage{
    color: rgba(0,0,0,.5);
    font-size: .75rem;
    line-height: 1rem;
    text-align:center;
    padding: 12px;
}

#send {
    border: 0;
    padding: 0.25rem;
    color:rgba(142,142,160,1);
    border-radius: 0.375rem;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
}

/* add hover to send */
#send:hover {
    background-color: #ececf1;
}